body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
}

.contenedor-imagen{
	height: 250px;
	width: 100%;
}
.contenedor-imagen > img {
	height: 100%;
	width: 100%;
}
#nombre-restaurantes, #descripcion-restaurante {
	margin-left: 5%;
}